@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Colors */
  --pink-400: hsl(0, 36%, 70%);
  --red-500: hsl(0, 93%, 68%);
  --gray-900: hsl(0, 6%, 24%);

  /* Gradients */
  --gradient-bg: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );

  --gradient-accent: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  /* Typography */
  --font-body: "Josefin Sans", sans-serif;
  --font-size-body: 16px;
}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    background: var(--gradient-bg);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.content_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content_right {
}

.content {
    
    display: flex;
    flex-direction: column;
     justify-content: center;
}
